In [2]:
import sklearn.datasets as dt

In [4]:
import pandas as pd

In [10]:
pd.DataFrame([dt.load_iris()])

,DESCR,data,feature_names,target,target_names
0,Iris Plants Database\n====================\n\n...,"[[5.1, 3.5, 1.4, 0.2], [4.9, 3.0, 1.4, 0.2], [...","[sepal length (cm), sepal width (cm), petal le...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[setosa, versicolor, virginica]"